{% extends "layout.html" %}
{% block content %}
<style>
  .filtergroup::-webkit-calendar-picker-indicator {
  display:none !important;
}

#table_header > th
{
  
  font-size: 10px;
  padding: 2px;
  text-align: center; 
  vertical-align: top;
 
}

#table_target > tr > td{
  font-size: 10px;
  padding: 2px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>

<body onload="bi_dashboard()" style="background-color: rgb(146, 194, 245)">
<!-- Button trigger modal -->


<!-- Modal -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-text" >W3 Schools Business Intelligence Presentation -></span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#"data-bs-toggle="modal" data-bs-target="#info" id="modalshow">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">About</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>How does this project work?</strong></p>
        <p>This data represented here is based on the <a href="https://www.w3schools.com/sql/default.asp">W3 schools SQL tutorial</a>,which is a MySQL database schema featuring a fictional company with customers, suppliers and several other business attribues. Geographic data has been added to the schema to integrate with the Highcharts.js map module.</p>
        <p>Use case is a business associate wanting to visualize sales order performance. As with many business intelligence platforms: the user has the ability to drill down or filter data based on categorical or numerical data types which are related to the sales order.</p> 
        <p>Careful consideration has been made on performance and that only neccesary data is loaded when needed. This could be explained in the following ways:</p>
        <ul>
          <li>A stored procedure is called when the page is loaded filling all labels, filters, and finally the graph.</li>
          <li>Changes to the graph or filters is done by asynchronous POST requests which constructs a MySQL query in the backend (no stored procedure).</li>
          <li>Requested changes are stored in session data - next page load will show the exact same data filtered in the stored procedure.</li>
        </ul>
        <p>This project uses:</p>
        <ol>
          <li>Python's Flask web application library to serve the page and data requests between webpage and database.</li>
          <li>Python's Pandas library to structure, organize and index data from the MySQL database</li>
          <li>JavaScript and Jquery to manage interface displays, including data requests to the server</li>
          <li>Highchart.js to visualize the data</li>
          <li>and finally: MySQL to store and serve the data from queries requested by Flask.</li>
        </ol>
        <figure class="text-center" > 
          <img src="{{ url_for('static', filename = 'schema.png') }}" style="border: 1px solid #d1d6dc;" class="img-fluid rounded" alt="Responsive image">
          <figcaption>MySQL database schema for this project.</figcaption>
        </figure>
        <p><strong>Why did I start this project?</strong></p>
        <p>I had studied Business Intelligence with various softwares and Database Administration in Haaga-Helia AMK, since the topic of data visualizations to address business decisions and structuring data was very interesting to me.</p>
        <p>However, I quickly found that finding an internship or trainee position to start my career with those specific skills was very challenging. The only solutions I can find to address this, was to learn more skills. </p>
        <p>With a little research and advice, I discovered that Python was a popular programming language for data analysis with easy to understand syntax. I read the book <i>Python Crash Course</i> by Eric Matthes and found myself sucked into this scripting language.</p>
        <p>I thought it would benefit me if I complimented my studies with Python rather than replace it to make myself a strong candidate in the data realm. One of my challenges was also displaying my Business Intelligence skills while the popular softwares often entailed an expensive license, and being meant for Windows OS (I have Linux).</p>
        <p>So I thought: why not take a business-like database schema and integrate it into a web platform which functioned in a programmatic way similar to a BI tool?</p>
        <p>... and down that path I went. It helped me learn to code in a more functional way while integrating JavaScript, Python and MySQL into one place. In the end I hope to demonstrate that not only am I comfortable using Python as a data analytics tool, but also able to integrate them on a web platform with a server and client side interfacing if needed.</p>
      </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


  <div class="container " id = "content" >
   
    <br>
    <div class="row rounded" style="background-color: white; padding:20px" id="customizer">
        <h3>Customize graph</h3>
        <div class="col">
          <label>Sales Order Value</label>
          <select class="form-select form-select"  id="values">
          </select>
        </div>
        <div class="col">
          <label >Category</label>
          <input class="form-check-input" type="checkbox" value="" id="isCategory">
          <select class="form-select form-select"  id="categories">
          </select>
        </div>
        
        <div class="col">
          <label >Visual</label>
          <select class="form-select form-select" id="visuals" >
            <option value="column">Column</option>
            <option value="bar">Bar</option>
            <option value="line">Line</option>
            <option value="pie" style="display: none;" id="pie_type">Pie</option>
            <option value="area" style="display: none;" id="area_type">Area</option>
            <option value="map" style="display: none;" id="map_type">Map</option>
          </select>
        </div>
        <div class="col">
          <label >Function</label>
          <select class="form-select form-select" id="aggregate_column" >
            <option value="sum">Sum</option>
            <option value="mean">Mean</option>
            <option value="max">Max</option>
            <option value="min">Min</option>
            <option value="nunique">Count of Orders</option>
          </select>
        </div>
        <div class="col">
          <label class="form-check-label" for="flexCheckDefault">
            Date
          </label>
          <input class="form-check-input" type="checkbox" value="" id="isDate">
          <select class="form-select form-select" id="date_column" disabled >
            <option value="%Y">Year</option>
            <option value="%Y-%m">Year-Month</option>
            <option value="%Y-%m-%d">Year-Month-Day</option>
            <option value="%Y-%W">Year-Week</option>
            <option value="quarter">Year-Quarter</option>
            <option value="%w">Weekday</option>
          </select>
        </div>
        <div class="col align-self-end ">
            <button class="btn btn-primary btn-block" type="button" id="send_values" style="height: 38px ;">
             Update
            </button>
        </div>  
    </div> 
    <br>
    
    <div class="row rounded" style="height: 436.99px;">
      <div class="card">
        <div class="card-body">
          <div id="sales"  class="card">

          </div>
         
        </div>
      </div>
      
    </div>
    <br>
    <div class="row rounded" style="background-color: white; padding:20px" id="filters_dashboard">
        <h3 >Filter Selection</h3>
        <p style="color: grey;">Sales Orders having:</p>
      <div class="col">
        <div class="form-check form-check-inline">
          <input class="form-check-input" name="SecondaryFilters" type="radio" id="CategoricCheck" checked>
          <label class="form-check-label" for="CategoricCheck">Category</label>
        </div>
        <div class="form-check form-check-inline" >
          <input class="form-check-input" name="SecondaryFilters" type="radio" id="NumericCheck">
          <label class="form-check-label" for="NumericCheck">Numeric</label>
        </div>
        
        <div class="input-group" style="padding-top: 20px;">
          <span class="input-group-text">Filter</span>
          <select class="form-select NumericFilter" style=" display: none;" id="NumericSelect">
          </select>
          <select class="form-select NumericFilter"style=" display: none;" id="NumericMath" >
            <option value=">">greater than</option>
            <option value="<">less than</option>
          </select>
          <input type="number" id="NumericFilterField" class="form-control NumericFilter" style="text-align: center;  display: none;" >
          <input class="form-control filtergroup" type="text" id="DateFilter" autocomplete="off" maxlength="10" placeholder="2021-11-30" style="text-align: center; display:none;">
         
          <input class="form-control filtergroup" list="filtergroup" id="params" placeholder="Category Name, Supplier Country...">
          <datalist id="filtergroup">
          </datalist>
          <button class="btn btn-primary" type="button" id="addFilter" disabled>Add</button>
        </div>
      </div>
    </div>
    <div class="row rounded" id="filtersinterface" role="toolbar"  style="padding:20px; display: none;" >
        <div class="btn-toolbar" role="toolbar" id="filters">
        </div>
    </div>
   <br>
    <div  class="row rounded" id="feedback" style="background-color: white; padding:20px">
      <h3>Data Summary</h3>
    </div>
    <br>
    <div  class="row rounded table-responsive" id="table_area" style="background-color: white; padding-top: 20px;">
      <h3 style="padding-left: 20px;">Current Selection</h3>
      <table class="table" >
        <thead>
          <tr id="table_header">
           
          </tr>
        </thead>
        <tbody id="table_target">
          
        </tbody>
      </table>
      <div class="col-2 offset-10"> 
        <div class="input-group input-group-sm mb-1 flex-nowrap" style="width: 100%;">
          <input type="number" class="form-control" id="paginAtor" style="text-align: center;">
          <label class="input-group-text" style="background-color: white;" id="whereami"></label>
          <button class="btn btn-primary" id="pageGo"  disabled>-></button>
    
        </div>
      </div>
    </div>
    
    <br>
  </div>
  
</body>
{% endblock %}  