{% extends "layout.html" %}
{% block content %}


<body onload="bi_dashboard()" style="background-color: lightblue">
<!-- Button trigger modal -->


<!-- Modal -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-text" >W3 Schools Business Intelligence Presentation -></span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#"data-bs-toggle="modal" data-bs-target="#info" id="modalshow">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"data-bs-toggle="modal" data-bs-target="#settings" id="modalsettings">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">The Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This data represented here is based on the <a href="https://www.w3schools.com/sql/default.asp">W3 schools SQL tutorial</a>, which is a fictional company with customers, suppliers and several other details common in a business.</p>
        <p>The use case for this interface is a sales associate or decision maker in the company wanting to visualize the performance, in which case all values and categories are centered around the client's order details.</p> 
        <p>If you just want pure sales total, or any sales value from the sales order table: mark off the category column.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="warning" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <p id="warning-text"></p>
        <p>How would you like to proceed?</p> 
      </div>
     
      <div class="modal-footer">
        <button type="button" id="resume_ajax" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
        <button type="button" id="cancel_ajax" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="settings" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="warning-ignore">
          <label class="form-check-label" for="warning-ignore">
            Warnings: a message will show if categorical labels will not fit the graph axes.
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="resume_ajax" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
      </div>
    </div>
  </div>
</div>
  <div class="container " id = "content" >
   
    <br>
    <div class="row rounded" style="background-color: white; padding-bottom: 10px; ">
        <h3>Customize graph</h3>
        <div class="col">
          <label>Sales Order Value</label>
          <select class="form-select form-select"  id="values">
          </select>
        </div>
        <div class="col">
          <label >Category</label>
          <input class="form-check-input" type="checkbox" value="" id="isCategory">
          <select class="form-select form-select"  id="categories">
          </select>
        </div>
        
        <div class="col">
          <label >Visual</label>
          <select class="form-select form-select" id="visuals" >
            <option value="column">Column</option>
            <option value="bar">Bar</option>
            <option value="line">Line</option>
            <option value="map" style="display: none;" id="map_type">Map</option>
          </select>
        </div>
        <div class="col">
          <label >Function</label>
          <select class="form-select form-select" id="aggregate_column" >
            <option value="sum">Sum</option>
            <option value="mean">Mean</option>
            <option value="max">Max</option>
            <option value="min">Min</option>
            <option value="nunique">Count of Orders</option>
          </select>
        </div>
        <div class="col">
          <label class="form-check-label" for="flexCheckDefault">
            Date
          </label>
          <input class="form-check-input" type="checkbox" value="" id="isDate">
          <select class="form-select form-select" id="date_column" disabled >
            
            <option value="%Y">Year</option>
            <option value="%Y-%m">Year-Month</option>
            <option value="%Y-%m-%d">Year-Month-Day</option>
          </select>
        </div>
        <div class="col align-self-end ">
            <button class="btn btn-primary btn-block" type="button" id="send_values" style="height: 38px ;">
             Update
            </button>
        </div>  
    </div> 
    <br>
   
    <div class="row rounded" >
      <div class="card">
        <div class="card-body">
          <div id="sales"  class="card">

          </div>
         
        </div>
      </div>
      
    </div>
   
  </div>
  
</body>
{% endblock %}  