{% extends "layout.html" %}
{% block content %}
<style>
  #bi_header{
    padding: 20px;background-color: white; text-align: center;
  };
</style>

<body onload="bi_dashboard()" style="background-color: lightblue">
  
  <h1 id="bi_header">Welcome to my Business Intelligence Presentation</h1>
  <div class="container " id = "content" >
   <!-- <br>
    <div class="row rounded " style="background-color: white; ">
        <h3>Customize graph</h3>
        <div class="input-group"  style="margin-bottom: 20px;"> 
          <select class="form-select">
            <option selected disabled>Visual</option>
            <option value='column'>Bar</option>
            <option value='line'>Line</option>
            <option value='area'>Area (%)</option>
            <option value='scatter'>Scatter</option>
          </select>
          <select class="form-select" id="col_count">
            <option selected disabled>Categories</option>
          </select>
          <select class="form-select">
            <option selected disabled>Date Type</option>
            <option value='%d-%m-Y'>Day-Month-Year</option>
            <option value='%m-%Y'>Month-Year</option>
            <option value='%Y'>Year</option>
            <option value='%m'>Month</option>
          </select>
          <select class="form-select">
            <option selected disabled>Value</option>
            <option value='sum'>Sum</option>
            <option value='mean'>Mean</option>
            <option value='max'>Max</option>
            <option value='min'>Min</option>
          </select>
        </div>
     
    </div> -->
    <br>
    <div class="row rounded" style="background-color: white;">
      <div class="card">
        <div class="card-body">
          <div id="sales"  class="card">

          </div>
        </div>
      </div>
      
    </div>
  </div>
 
</body>
{% endblock %}  