{% extends "layout.html" %}
{% block content %}
<style>
::-webkit-scrollbar { 
  width: 0px!important;
} 

</style>

<body onload="test()" style="background-color: lightblue">
<!-- Button trigger modal -->

<div class="container mt-5">
  <div class="row rounded" style="background-color: white; padding:20px">
    <div class="dropdown">
      
      <input class="form-control" type="text" id="dropdownMenuButton1"  aria-expanded="false">
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="list">
        {% for val in cols%}
        <li class="dropdown-item">{{val}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <br>
  <div class="row rounded" role="toolbar">
    <div class="btn-toolbar" role="toolbar" id="filters">
    </div>
  </div>
</div> 


</body>



{% endblock %}  