{% extends "layout.html" %}
{% block content %}
<style>
::-webkit-scrollbar { 
  width: 0px!important;
} 


.filtergroup::-webkit-calendar-picker-indicator {
  display:none !important;
}
</style>

<body onload="test()" style="background-color: lightblue">
<!-- Button trigger modal -->

<div class="container mt-5">
  <div class="row rounded" style="background-color: white; padding:20px">

    <div class=" input-group">
      <span class="input-group-text">Filter</span>
      <input class="form-control filtergroup" list="filtergroup" id="params" placeholder="Category Name, Supplier Country...">
      <datalist id="filtergroup">
        {% for val in cols%}
        <option class="dataOption" value="{{val}}">
        {% endfor %}
      </datalist>
      <button class="btn btn-primary" type="button" id="addFilter" disabled>Add</button>
    </div>
  </div>
  <br>
  <div class="row rounded" style="background-color: white; padding:20px">
    <h5 class="text-center">Current selection</h5>
    <table class="table table-sm align-middle table-borderless">
      <thead>
        <tr>
          {% for meta in meta_data%}
          <th scope="col">{{meta['name']}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for meta in meta_data%}
          <td class="text-center metaColumn" header="{{meta['name']}}">{{meta['count']}}</td>
          {% endfor %}
         
        </tr>
      </tbody>
    </table>

  </div>
  <br>
  <div class="row rounded" role="toolbar">
    <div class="btn-toolbar" role="toolbar" id="filters" >
    </div>
  </div>
</div> 
</body>
{% endblock %}  
